@font-face {
  font-family: "Trial VAR";
  src: url("/fonts/CX80-0-Trial-VAR.ttf") format("truetype");
  font-weight: 200;
  font-style: bold;
}

body {

    background-color: #000000;
    color: white;
}


.main {
    background-image: url("background.jpg");
    background-size: 100% 60%;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 20px;
    height: 100vh;
    width: 100%; 
}

.main::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.titre {
    font-family: "Trial VAR", sans-serif;
    font-size: 6rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}



.clap {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27%;
    z-index: 2;
}

.podium {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 43%;
    z-index: 1;
}

.couronne1 {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14%;
    z-index: 2;
}

.couronne2 {
    position: absolute;
    top: 64%;
    left: 36.5%;
    transform: translate(-50%, -50%);
    width: 12%;
    z-index: 2;
}

.couronne3 {
    position: absolute;
    top: 67%;
    left: 63.5%;
    transform: translate(-50%, -50%);
    width: 12%;
    z-index: 2;
}

.compositeurs {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Trial VAR", sans-serif;
  text-align: center;
  color: #FFD700;
  z-index: 3;
  font-weight: bold;
  line-height: 1.2;
}

.compositeurs span{
  font-size: clamp(1rem, 1.8vw, 1.3rem);
  letter-spacing: 1px;
}

.premier {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.deuxieme {
  top: 61%;
  left: 36.5%;
  transform: translate(-50%, -50%);
}

.troisieme {
  top: 64%;
  left: 63.5%;
  transform: translate(-50%, -50%);
}
