*,
*::after,
*::before {
    box-sizing: border-box;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

@font-face {
    font-family: "Trial VAR";
    src: url("/fonts/CX80-0-Trial-VAR.ttf") format("truetype");
}

/* CORPS DE PAGE */


.body {
   
--cinema-width: 100vw;
--cinema-height: calc(var(--cinema-width) * 0.5625);

  background-image:
    /* 1. Dégradé rouge depuis le bas */
    linear-gradient(to top, #640C19 40%, transparent 80%),

    /* 2. Dégradé d'opacité pour cinema (fondu vers le haut) */
    linear-gradient(to top, rgba(0, 0, 0, 0.75)60%, rgb(0, 0, 0)),

    /* 3. Image cinéma */
    url("/images/cinema.webp"),

    /* 4. Image background en haut */
    url("/images/background.jpg");

  background-size:
    100% 40%,  /* dégradé rouge */
    var(--cinema-width) var(--cinema-height),   /* dégradé cinema */
    var(--cinema-width) var(--cinema-height),   /* image cinema */
    contain;      /* background haut */

  background-repeat:
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat;

  background-position:
    bottom center, /* dégradé rouge */
    center 70%,  /* dégradé cinéma — à AJUSTER */
    center 70%,  /* image cinéma — même position */
    top center;    /* image top */

  background-blend-mode:
    normal,
    normal,  /* mélange dégradé cinema + image cinema */
    normal,
    normal;

    background-color: black;
    font-family: 'poppins', sans-serif;
}

main,
footer {
    max-width: 1200px;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    gap: 200px;
}

/* STYLES DE TITRES */

h1,
h2,
h3 {
    font-family: 'Trial VAR';
    margin: 0;
    margin-bottom: 15px;
}

h2 {
    color: #F6D758;
}

p {
    max-width: 600px;
    color: white;
    margin: 0;
    margin-bottom: 10px;
}

/* ----- FOOTER ----- */

footer {
    padding: 10px 0 50px 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 0;
    display: inline-block;
    margin-bottom: 5px;
}

footer a:hover {
    text-decoration: underline;
}