*,
*::after,
*::before {
    box-sizing: border-box;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

@font-face {
    font-family: "Trial VAR";
    src: url("/fonts/CX80-0-Trial-VAR.ttf") format("truetype");
}

/* CORPS DE PAGE */

.body {
    background-image: linear-gradient(to top, #640C19 30%, #000000 60%);
    font-family: 'poppins', sans-serif;
}

main,
footer {
    max-width: 1200px;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    gap: 200px;
}

/* STYLES DE TITRES */

h1,
h2,
h3 {
    font-family: 'Trial VAR';
    margin: 0;
    margin-bottom: 15px;
}

h2 {
    color: #F6D758;
}

p {
    max-width: 600px;
    color: white;
    margin: 0;
    margin-bottom: 10px;
}

/* ----- FOOTER ----- */

footer {
    padding: 10px 0 50px 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 0;
    display: inline-block;
    margin-bottom: 5px;
}

footer a:hover {
    text-decoration: underline;
}